[Bot]
token = placeholder
prefix = $$
[Logging]
log_dir = ./logs
logger = discord
logger_level = 10
handler_format = %(asctime)s:%(levelname)s:%(name)s: %(message)s
[Language]
default_language = ${Language:english}
english = english.cfg
french = french.cfg
[Ressources]
pasta_image = placeholder
pasta_image_name = img.png
color_0 = 0xA9A0CF
color_1 = 0x14A346
color_2 = 0xB10606
